@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  font-family: "Courier New", "Libre Baskerville";
  background-color: beige;
}

button {
  border: none;
  border-radius: 25%;
  background: none;
  padding: 0px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
h3 {
  font-size: medium;
  width: auto;
}

.completed-tasks-header,
.task-list-header {
  padding: 10px;
}

.todo-item,
.complete-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin: 5px;
}

.todo-item-title {
  font-size: medium;
  font-weight: bold;
  justify-items: center;
  border: none;
}
.todo-item-title:focus {
  border: none;
  outline: none;
}

.left-buttons {
  justify-self: left;
}

.right-buttons {
  justify-self: right;
}

.complete-item-name {
  align-self: center;
}

.todo-header {
  justify-self: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.add-task {
  justify-self: center;
  padding: 50px;
}

.task-list,
.complete-list {
  justify-self: anchor-center;
  text-align: left;
}

.text-field {
  border-radius: 5px;
  margin-right: 2px;
}

.create-button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
}
